<div dir="auto">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong><%= t'.title'%>:</strong>
	  <%= @post.title %>
	</p>

	<p>
	  <strong><%= t'.body'%>:</strong>
	  <%= sanitize @post.body %>
	</p>

	<%= link_to t('.edit'), edit_post_path(@post) %>|
	<%= link_to t('.back'), posts_path %>

</div>