<!DOCTYPE html>
<html>
  <head>
    <title>DocumentInterface</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p>
			<%= link_to_unless_current "English", locale: "en" %>
			|
			<%= link_to_unless_current "العربية", locale: "ar" %>
		</p>
    <%= yield %>
  </body>
</html>
